<div id="<%= dom_id bank %>">
  <p>
    <strong>Bank name:</strong>
    <%= bank.bank_name %>
  </p>

  <p>
    <strong>Bank abbrv:</strong>
    <%= bank.bank_abbrv %>
  </p>

  <p>
    <strong>Total balance:</strong>
    <%= bank.total_balance %>
  </p>

</div>
